<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
         <title></title>
  </head>
        <body>  
                      
            <div>
                <h2>{{ factorA }} * {{ factorB }} = </h2>
                <input type="number" [(ngModel)]="userResult" (keyup.enter)="checkResult()">
                <button (click)="checkResult()">Проверить</button>
              </div>
              <button (click)="startTraining()">Начать тренировку</button>
              <button (click)="trainingService.finishTraining()">Закончить тренировку</button>
        </body>
    
</html>
