<!DOCTYPE html>
<html lang="en-US">
   <head>
       <meta charset="UTF-8" />
        <title>Пользователь</title>
 </head>
  <body>
        <h1 *ngIf="submitted">  Добрый день,  {{ userInput }}!</h1> 
        <hr>
        <h5>Введите ваше имя: </h5>
        <div class="surname">
            <div class="p-col-12">
                 <div class="p-inputgroup">
                     <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                     <input [(ngModel)]="userInput" pInputText placeholder="Введите имя...">       
                 </div>
             </div>
          <button (click)="nSelect()" pButton pRipple type="showContacts($event)"  label="Подтвердите вход" ></button>
        </div>
        <hr>
        <div *ngIf="showLinks">
        <nav>
            <ul>
              <li><a (click) = startTraining()> Начать тренировку</a></li>
              <li><a (click) = showResults() > Результаты</a></li>
            </ul>
          </nav>
        </div>
 </body>
</html>
