
h1 {
    text-align: left;
    margin-left: 20px;
    font-weight: bolder;
    line-height: 3.5;
}
h5 {
text-align: left;
margin-left: 20px;
font-size: 30px;

}

.surname {
text-align: left;
margin-left: 20px;
margin-top: 25px;
}

.p-col-12{
    font-size: 30px; 
    margin-top: 25px;
}

button {
    margin-right: .5em;
    margin-left: 20px;
    margin-top: 25px;

}





